.react-bs-table-del-btn {
	background-color: indianred;
	border: indianred;
	color: white;
}

.react-bs-table-del-btn:hover {
	background-color: red;
	color: white;
}

.btn-primary {
	background-color: grey;
	border:grey;
}
.react-bs-table table td, .react-bs-table table th {
	overflow: visible;
	white-space: normal;
	overflow-wrap: break-word;
}