
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #800080c4;
    color: white;
}

.form-inline {
    padding-top: 10px;
}

.date-style{
    display:flex;
    /*padding-top: 5px;*/
}
.seq-no{
    display: inline-flex;
}

#only-item-span {
    display: inline-block;
    padding: 0 7px;
}

#only-item-input {
    width: 30px;
}
.myHalfCol .col-lg-6{padding:0 10px;}

.textBox {
    height: 80px;
    width: 240px
}

.col-xl1{
    width: 39%;
    display: flex;
}
.Paste-text-area{
    width: 42%;
}

.input-search-container {
    padding-bottom: 3%;
}

#save-button.btn-secondary:enabled {
    background-color: hotpink;
    outline-color: hotpink;

}

#reset-button.btn-primary:enabled {
    background-color: blueviolet;
    outline-color: blueviolet;
}

.Parent-barcode-batch-creation{
    width: 84%;
}