/* alignment of header PCR WorkOrder */
.jumbotron{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #800080c4;
  color: white;
}
label.required:after {content: " *"; color: red;}
/* background color of text fields */
.form-control {
  background-color:#ffa5009e;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
/* button after the scanning */
.default{
  margin-top: 32px;
  color:white;
  background-color: grey;
  border: 1px solid grey;
  height: 31px;
}

/* table */
.thead-light {
background-color: grey;
}

/* import button to browse file */
.btn-file {
  position: relative;
  overflow: hidden;
  height:38px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  display: block;
}
