/* .dropdwown {
    position: relative;
} */

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #800080c4;
    color: white;
}


.selectpicker {
    width: 100%;
    height: 30px; 
    display: flex;
}

.label {
    display: flex;
}

/* .divider {
    width: 40%;
    align: left;
    background-color:black
} */

.btn-primary{
    background-color: grey;
    border-color: grey;
}

.react-bs-table table td, .react-bs-table table th {
    overflow: visible;
    white-space: normal;
    overflow-wrap: break-word;
}


.btn-primary:enabled {
    background-color: #0000ffb0;
}

.btn-primary:disabled {
    background-color: lightgray;
    cursor: none;
}